footer.footer 
    .footer__logo 
        img(src='/img/logo-green.png', alt='YaduTour logo')
    ul.footer__nav 
        li: a(href='#') About Us 
        li: a(href='#') Download Appa 
        li: a(href='#') Become Guide 
        li: a(href='#') Career            
        li: a(href='#') Contact 
    p.footer__copyright &copy; by Yadu Group 